{% extends "layout.html" %}
{% block content %}
    <h2>UpdateEntry for Social Services</h2>
    <form action="{{url_for('update',ID=entry.ID)}}" method=post>
	<p class="heading">Name: <input type=text name=name value="{{entry.name}}">
	<p class="heading">Types of service: <input type=text name=service value="{{entry.service}}">
    <p class="heading">Location: <input type=text name=location value="{{entry.location}}">
    <p class="heading">Operating hours: <input type=text name=operating_hours value="{{entry.operating_hours}}">
    <p class="heading">Phone number: <input type=tel name=phone_number value="{{entry.phone_number}}">
        <p class="heading">Review:
	<textarea rows=5 cols=49 name=review value="{{entry.review}}"></textarea></p>
	<p><input type=submit value=Update></p>
    </form>
    <h5>View your entry <a href="{{ url_for('entries') }}"> here</a></h5>
{% endblock %}